/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wpmozo-image-card-ticker{
	line-height: 0;
	position: relative;
	overflow: hidden;
}

.wpmozo_image_card_ticker_wrapper {
	position: relative;
	overflow: hidden;
	transform-style: preserve-3d;
	background: inherit;
}
.wpmozo_image_card_ticker_inner {
	display: flex;
	flex-wrap: nowrap;
	will-change: transform;
}

.wpmozo_image_card_ticker_inner img{
	border: 0 solid #000000;
	object-fit: cover;
}

/* Marquee layout style. */
.wpmozo_image_card_ticker_wrapper.layout-marquee .wpmozo_image_card_ticker_inner img{
	width: 200px;
	height: 150px;
	object-fit: cover;
	flex-shrink: 0;
	transition: transform 0.3s ease;
}
.wpmozo_image_card_ticker_wrapper.direction-top .wpmozo_image_card_ticker_inner,
.wpmozo_image_card_ticker_wrapper.direction-bottom .wpmozo_image_card_ticker_inner{
	flex-direction: column;
	height: 500px;
}

/* 3D Circle. */
.wpmozo_image_card_ticker_wrapper.circle-carousel{
	perspective: 1000px;
}
.wpmozo_image_card_ticker_wrapper.circle-carousel .wpmozo_image_card_ticker_inner{
	transform-style: preserve-3d;
	height: 500px;
	position: relative;
}
.wpmozo_image_card_ticker_image_wrapper{
	position: absolute;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.wpmozo_image_card_ticker_image_wrapper img{
	width: 100%;
	height: 100%;
}

/* Curve Carousel. */
.wpmozo_image_card_ticker_wrapper.curve-carousel{
	mask: url(#wpmozo_image_card_ticker_curve_mask);
	-webkit-mask: url(#wpmozo_image_card_ticker_curve_mask);
}
.wpmozo_image_card_ticker_wrapper.curve-carousel .wpmozo_image_card_ticker_image_wrapper{
	display: inline-block;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	top: 0 !important;
	left: 0 !important;
	transform: translate(0,0);
}

