/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-wpmozo-mystery-image .wp-block-image { display: none; }
.wp-block-wpmozo-mystery-image .wp-block-image.mystery-show { display: block; }
.wp-block-wpmozo-mystery-image figure figcaption { display: none; }

.wpmozo-mystery-image-lightbox.mfp-ready { opacity: 1 }
.wpmozo-mystery-image-lightbox.mfp-bg { opacity: 0;-webkit-transition: all .3s ease-out;-o-transition: all .3s ease-out;transition: all .3s ease-out }
.wpmozo-mystery-image-lightbox.wpmozo-mfp-ade.mfp-wrap .mfp-content { opacity: 0;-webkit-transition: all 1.3s ease-out;-o-transition: all 1.3s ease-out;transition: all 1.3s ease-out }
.wpmozo-mystery-image-lightbox.wpmozo-mfp-fade.mfp-wrap.mfp-ready .mfp-content { opacity: 1 }
.wpmozo-mystery-image-lightbox.wpmozo-mfp-fade.mfp-wrap.mfp-removing .mfp-content { opacity: 0 }


.wpmozo-mystery-image-anchor { position: relative;display: inline-block; }
.wpmozo-mystery-image-anchor .wpmozo-overlay-icon { position: absolute;top: 0; left: 0; right: 0; bottom: 0;display: flex;align-items: center;justify-content: center;opacity: 0;pointer-events: none;background: rgba(0,0,0,0.4); /* semi-transparent overlay */transition: opacity 0.3s;color: #fff;font-size: 2.5em;}
.wpmozo-mystery-image-anchor:hover .wpmozo-overlay-icon { opacity: 1;pointer-events: auto; }







.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_wrap {
	display: inline-block;
	position: relative;
	max-width: 100%;
	border: 0 solid #000
}

.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_overlay:hover .wpmozo_overlay_icon {
	z-index: 3;
	opacity: 1
}

.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_wrap img {
	display: block
}



.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_overlay {
	position: relative;
	transition: .3s
}

.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_overlay:hover:before {
	opacity: 1
}

.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_overlay::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	transition: .3s;
	opacity: 0
}

.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_mystery_image_overlay svg {
	height: 20px;
	width: 20px;
	color: #FF0B0B;
	fill: #FF0B0B;
	transition: .3s ease-in;
	opacity: 0;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0;
	transform: translate(-50%, -50%)
}

.wp-block-wpmozo-mystery-image.wpmozo-mystery-image .wpmozo_overlay_icon {
	font-size: 20px;
	color: #FF0B0B;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .3s ease-in
}

.wp-block-wpmozo-mystery-image .mystery-show a {
	cursor: default;
}
.wpmozo-mystery-image-lightbox .mystery-show a {
	pointer-events: auto;
}
