/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

[data-type="wpmozo/masonry-gallery"] {
	// Remove selected state.
	&.block-editor-block-list__block::after {
		box-shadow: none !important;
	}

	// Adjust because we modify the selected state.
	.block-library-gallery-item__inline-menu {
		top: 1px;

		&.is-left {
			left: 1px;
		}

		&.is-right {
			right: 1px;
		}
	}

	.gallery-media-placeholder-wrapper {
		margin-top: 20px;

		.components-placeholder__fieldset {
			align-items: center;

			button {
				margin-bottom: 0;
			}
		}
	}
}

figure.wp-block-wpmozo-masonry-gallery {
	&.alignwide,
	&.alignfull {
		margin: 0;
	}

	> .masonry-grid {
		column-fill: initial;
		column-gap: 30px;
		transition: all 0.5s ease-in-out;

		figure {
			display: contents;
			margin-bottom: 30px;
			margin-top: 0;

			img {
				border: 0;
				display: block;
				font: inherit;
				font-size: 100%;
				height: auto;
				margin: 0;
				max-width: 100%;
				padding: 0;
				width: 100%;
			}

			figcaption {
				bottom: 0;
				font-size: 13px;
				margin-bottom: 0;
				max-height: 100% !important;
				opacity: 0.9;
				overflow: auto;
				text-align: center;
				width: 100%;

				img {
					display: inline;
				}
			}

			// Fix needed for pre 5.9 WordPress
			.components-resizable-box__container {
				display: block;

				.components-resizable-box__handle {
					display: none;
				}
			}
		}

		/* Masonry on tablets */
		@media only screen and (min-width: 768px) and (max-width: 1023px) {
			& {
				column-count: 2;
			}
		}

		/* Masonry on big screens */
		@media only screen and (min-width: 1024px) {
			& {
				column-count: 3;
			}
		}
	}

}
