.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_wrap{
	display: flex;
	overflow: hidden;
	max-width: 100%;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_label {
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	position: relative;
	z-index: 3;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-image: initial;
	white-space: nowrap;
	overflow: unset !important;
	transition: all 300ms;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_items{
	position: relative;
	overflow: hidden;
	flex-grow: 1;
	border: 0 solid #000;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_bar{
	display: flex;
	align-items: center;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_post_title{
	padding: 0 5px;
	font-size: 16px;
	color: #000;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_bar{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	animation-name: wpmozo_post_ticker_scroll;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-duration: 35.00s;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll:hover .wpmozo_post_ticker_bar{
	animation-play-state: paused;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_item{
	white-space: nowrap;
}

.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_item:last-child::after {
	display: none !important;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_post_title{
	display: inline-block;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .wpmozo_post_ticker_bar{
	height: 100%;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_fade .wpmozo_post_ticker_bar{
	height: 100%;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_fade .wpmozo_post_ticker_item{
	max-width: 100%;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .wpmozo_post_ticker_post_title,
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_fade .wpmozo_post_ticker_post_title{
	display: block;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .wpmozo_post_ticker_item{
	max-width: 100%;
	height: 100% !important;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .swiper-container{
	margin-left: 0;
	flex-grow: 1;
	height: auto !important;
	position: relative;
	width: 1vw;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_items .wpmozo_swiper_navigation .swiper-button-next {
	margin-left: 7px;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_items .wpmozo_swiper_navigation{
	padding:10px;
	order: 1;
	flex-wrap: nowrap;
	height: 100%;
	margin: 0;
}
.wp-block-wpmozo-post-ticker .swiper-container {
	position: relative;
	width: 100%;
}
.wp-block-wpmozo-post-ticker .swiper-wrapper {
	display: inline-flex;
}
.wp-block-wpmozo-post-ticker .swiper-container-slide .swiper-slide {
	position: relative;
	opacity: 0;
	transition: opacity 0.5s ease;
	width: 100%;
	height: auto !important;
}
.wp-block-wpmozo-post-ticker .swiper-container-fade .swiper-slide {
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s ease;
	width: 100%;
}
.wp-block-wpmozo-post-ticker .swiper-slide-active {
	opacity: 1 !important;
	visibility: visible;
	z-index: 1;
	height: auto !important;
}
.wp-block-wpmozo-post-ticker .swiper-slide:not(.swiper-slide-active) {
	opacity: 0 !important;
	visibility: hidden;
}
.wp-block-wpmozo-post-ticker .wpmozo_arrows_position{
	flex-direction: row;
}
.wp-block-wpmozo-post-ticker .wpmozo_swiper_navigation{
	display: flex;
	flex-wrap: wrap;
	z-index: 1;
}
.wp-block-wpmozo-post-ticker .wpmozo_ticker_icon_separator{
	vertical-align: top;
}
.wp-block-wpmozo-post-ticker .wpmozo_swiper_icon_next::before{
	display: none;
}
.wp-block-wpmozo-post-ticker .wpmozo_swiper_icon_prev::before{
	display: none;
}
.wp-block-wpmozo-post-ticker .wpmozo_arrows_position .swiper-button-next, .wpmozo_arrows_position .swiper-button-prev {
	position: relative;
	top: auto;
	transform: none;
	width: auto;
	height: auto;
}
.wp-block-wpmozo-post-ticker .wpmozo_arrows_position i{
	font-size:18px;
	margin-top: 0;
	margin-right:10px;
}
.wp-block-wpmozo-post-ticker .wpmozo_arrows_position .swiper-button-next{
	right: 0;
	left: auto;
}
.wp-block-wpmozo-post-ticker .wpmozo_arrows_position .swiper-button-prev{
	left: 0;
	right: auto;
}
.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_items .wpmozo_swiper_navigation{
	align-items: center;
	justify-content: center;
}
.wp-block-wpmozo-post-ticker .wpmozo_arrows_position svg{
	box-sizing: content-box;
}
//.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_bar .wpmozo_post_ticker_item:last-child .wpmozo_ticker_icon_separator i::before,
//.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_bar .wpmozo_post_ticker_item:last-child .wpmozo_ticker_icon_separator svg  {
//	display: none !important;
//}
@media only screen and (max-width: 600px) {
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .wpmozo_swiper_navigation,
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_fade .wpmozo_swiper_navigation{
		align-self: center;
	}
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .swiper-container,
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_fade .swiper-container{
		width: 100% !important;
		height: auto !important;
	}
	.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_wrap.wpmozo_ticker_effect_scroll,
	.wp-block-wpmozo-post-ticker .wpmozo__ticker_wrap.wpmozo_ticker_effect_slide,
	.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_wrap.wpmozo_ticker_effect_fade{
		flex-direction: column;
	}
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_slide .wpmozo_post_ticker_bar,
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_fade .wpmozo_post_ticker_bar{
		flex-direction: column;
	}
	.wp-block-wpmozo-post-ticker .wpmozo_ticker_effect_scroll .wpmozo_post_ticker_bar{
		position: relative;
		width: fit-content;
	}
	.wp-block-wpmozo-post-ticker .wpmozo_post_ticker_wrap.wpmozo_ticker_effect_fade .swiper-container-fade .swiper-slide {
		position: relative;
		opacity: 0;
		transition: opacity 0.5s ease;
		width: 100%;
		height: auto !important;
	}
	.wp-block-wpmozo-post-ticker .swiper-slide {
		height: auto !important;
	}
}
@keyframes wpmozo_post_ticker_scroll {
	from {
		left: 100%;
		transform: translateX(0);
	}
	to {
		left: 0;
		transform: translateX(-100%);
	}
}
.wpmozo_swiper_icon_prev,
.wpmozo_swiper_icon_next{
	cursor: pointer;
}
