.wpmozo-typography-panel .components-tools-panel{
	padding: 10px 0px;
}
.wpmozo-typography-panel .single-column .components-input-control__container{
	width: 100%;
}
.wpmozo-typography-panel .single-column{
	grid-column: span 1;
}
.wpmozo-typography-panel .components-font-size-picker__controls{
	margin-bottom: 0px;
}
.wpmozo-typography-panel .wpmozo-color-tools-panel{
	gap: calc(5px) calc(8px);
}
.wpmozo-typography-panel .wpmozo-color-tools-panel .components-tools-panel-header{
	margin-bottom: 10px;
}