.wpmozo-bna-tilt-image .wpmozo-bna-tilt-image-inner-wrapper{
	display: flex;
	position: relative;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-image-inner-wrapper:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-image-inner-wrapper img{
	width: 100%;
}

.wpmozo-bna-tilt-image .wpmozo-bna-tilt-content-wrapper{
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	z-index: 9;
	box-sizing: border-box;
}

.wpmozo-bna-tilt-content-wrapper.wpmozo-on-hover{
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.wpmozo-bna-tilt-content-wrapper.wpmozo-on-hover:hover{
	opacity: 1;
}

.wpmozo-bna-tilt-image .wpmozo-bna-tilt-title{
	width: 100%;
	line-height: 1.5em;
	font-size: 18px;
	margin: 0 0 10px 0;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-desc{
	width: 100%;
	line-height: 1.5em;
	font-size: 14px;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-icon{
	margin-bottom: 10px;
	font-size: 32px;
	line-height: 1em;
	width: 100%;
}

.wpmozo-bna-tilt-image .wpmozo-bna-tilt-image-button-wrapper{
	display: inherit;
}

.wpmozo-bna-tilt-image .wpmozo-bna-tilt-content-on-hover .wpmozo-bna-tilt-content-wrapper{
	opacity: 0;
}

.wpmozo-bna-tilt-image:hover .wpmozo-bna-tilt-content-on-hover .wpmozo-bna-tilt-content-wrapper{
	opacity: 1;
}

.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-top-center .wpmozo-bna-tilt-content-wrapper{
	align-items: center;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-top-right .wpmozo-bna-tilt-content-wrapper{
	align-items: flex-end;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-center-left .wpmozo-bna-tilt-content-wrapper{
	justify-content: flex-start;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-center-left .wpmozo-bna-tilt-content-wrapper{
	justify-content: center;
}

.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-center .wpmozo-bna-tilt-content-wrapper{
	justify-content: center;
	align-items: center;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-center-right .wpmozo-bna-tilt-content-wrapper{
	justify-content: center;
	align-items: flex-end;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-bottom-left .wpmozo-bna-tilt-content-wrapper{
	justify-content: flex-end;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-bottom-center .wpmozo-bna-tilt-content-wrapper{
	justify-content: flex-end;
	align-items: center;
}
.wpmozo-bna-tilt-image .wpmozo-bna-tilt-align-bottom-right .wpmozo-bna-tilt-content-wrapper{
	justify-content: flex-end;
	align-items: flex-end;
}
