/* Sticky Posts Grid Container */
.wp-block-wpmozo-horizontal-scrolling-posts,
.wpmozo-sticky-posts-scroller{
	position: relative;
	overflow: hidden;
}
.wpmozo-sticky-posts-wrapper{
	position: relative;
}
.wpmozo-sticky-posts-inner{
	display: flex;
	overflow: visible;
}

.wp-block-wpmozo-horizontal-scrolling-posts .wpmozo-sticky-posts-wrapper .wpmozo_horizontal_scrolling_post_item{
	flex-shrink: 0;
	margin-bottom: 0;
}
.wpmozo_horizontal_scrolling_post_item .et_pb_module_inner,
.wpmozo_horizontal_scrolling_post_item > div{
	height: 100%;
}
.wpmozo_horizontal_scrolling_post_wrapper{
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
	width: 300px;
	min-width: 300px;
	margin-right: 20px; /* this should be coming from the module */
	padding: 0;
	font-size: 2rem;
	background-color: #f0f0f0;
	border: 0 solid #000;
}
.wpmozo_horizontal_scrolling_post_item:last-child .wpmozo_horizontal_scrolling_post_wrapper{
	margin-right: 0;
}

.wpmozo_horizontal_scrolling_post_inner::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(244,244,244,0.7);
	transition: all .3s ease-in-out;
}
.wpmozo_horizontal_scrolling_post_image_wrapper{
	position: relative;
	width: 100%;
}
.wpmozo_horizontal_scrolling_post_image{
	width: 100%;
	max-width: 100%;
	object-fit: cover;
	border: 0 solid #000;
}
.wpmozo_horizontal_scrolling_post_content_wrapper{
	width: 100%;
	border: 0 solid #000;
	padding: 20px;
}
.wpmozo_horizontal_scrolling_post_excerpt{
	font-size: 16px;
	line-height: 1.2em;
}

.wpmozo_horizontal_scrolling_post_tag_wrapper span{
	display: inline-block;
}
.wpmozo_horizontal_scrolling_post_tag:not( :last-child ){
	margin-right: 5px;
}
.wpmozo_horizontal_scrolling_post_tag a{
	display: inline-block;
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.2;
	color: #fff;
	background-color: #000;
	border: 0 solid #000;
	transition: all 0.2s ease-in-out;
}

/* Button. */
.wpmozo_horizontal_scrolling_post_wrapper .et_pb_button_wrapper{
	margin-top: 15px;
}
.wpmozo_horizontal_scrolling_post_wrapper .et_pb_button{
	display: inline-block;
}
.wpmozo_horizontal_scrolling_post_item .et_pb_button:before,
.wpmozo_horizontal_scrolling_post_item .et_pb_button:after{
	content: attr(data-icon);
}

/* Footer meta. */
.wpmozo_horizontal_scrolling_post_meta_wrapper{
	display: flex;
	width: 100%;
	align-items: center;
	gap: 5px;
	justify-content:space-between;
}
.wpmozo_horizontal_scrolling_post_meta_wrapper .author,
.wpmozo_horizontal_scrolling_post_meta_wrapper .published,
.wpmozo_horizontal_scrolling_post_meta_wrapper .comments{
	display: flex;
	align-items: center;
	font-size: 14px;
}
.wpmozo_horizontal_scrolling_post_tag_wrapper .published{
	font-size: 14px;
}
.wpmozo_horizontal_scrolling_post_meta_wrapper .wpmozo_post_meta_divider{
	padding: 0 4px;
	text-align: center;
	color: #666;
	font-size: 14px;
}
.wpmozo_horizontal_scrolling_post_meta_wrapper .et-pb-icon{
	font-family: ETmodules !important;
	font-size: inherit;
	margin-right: 5px;
}

/* Layout 1 Specific. */
.wp-block-wpmozo-horizontal-scrolling-posts .layout1 .wpmozo_horizontal_scrolling_post_content_wrapper{
	flex-grow: 1;
}
.wp-block-wpmozo-horizontal-scrolling-posts .layout1 .wpmozo_horizontal_scrolling_post_tag_wrapper{
	position: absolute;
	top: 0px;
	left: 20px;
	z-index: 2;
}

/* Layout 2 Specific. */
.wp-block-wpmozo-horizontal-scrolling-posts .layout2 .wpmozo_horizontal_scrolling_post_wrapper{
	min-height: 500px;
	padding: 0px;
}
.wp-block-wpmozo-horizontal-scrolling-posts .layout2 .wpmozo_horizontal_scrolling_post_inner{
	display: flex;
	align-items: flex-end;
	height: 100%;
	min-width: 100%;
	background-size: cover;
	background-position: center;
}
.wp-block-wpmozo-horizontal-scrolling-posts .layout2 .wpmozo_horizontal_scrolling_post_content_wrapper{
	position: relative;
}
.wp-block-wpmozo-horizontal-scrolling-posts .layout2 .wpmozo_horizontal_scrolling_post_tag_wrapper{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.wp-block-wpmozo-horizontal-scrolling-posts .layout2 .wpmozo_horizontal_scrolling_post_meta_wrapper{
	margin-top: 15px;
}
.wp-block-wpmozo-horizontal-scrolling-posts .layout2 .wpmozo_horizontal_scrolling_post_meta_wrapper > span:not( :last-child ) {
	margin-right: 10px;
}

.et-pb-icon{
	font-size:14px;
}
.wpmozo_horizontal_scrolling_post_meta_wrapper .fas {
	font-size:14px;
	margin-right:5px;
	align-items:center;
	display: flex;
}
.wp-block-wpmozo-horizontal-scrolling-posts *{
	box-sizing: border-box;
}
