/* Item. */
.wp-block-wpmozo-scroll-stack-cards .wpmozo-bna-scroll-stack-cards-wrapper .wp-block-wpmozo-scroll-stack-cards-item{
	margin-bottom: 0;
}
.wp-block-wpmozo-scroll-stack-cards-item{
	position: relative;
	overflow: hidden;
	padding: 20px;
	border: 0 solid #000000;
}
.wpmozo-bna-scroll-stack-cards-content-wrapper,
.wpmozo-bna-scroll-stack-cards-image-wrapper{
	padding: 20px;
}
.wpmozo-bna-scroll-stack-cards-content-wrapper,
.wpmozo-bna-scroll-stack-cards-image-wrapper img{
	border: 0 solid #000;
}
.wpmozo-bna-scroll-stack-cards-title,
.wpmozo-bna-scroll-stack-cards-content{
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
}
.wp-block-wpmozo-scroll-stack-cards-item .wpmozo-bna-button-wrap{
	margin-top: 15px;
}
.wpmozo-bna-scroll-stack-cards-image{
	width: 100%;
	height: auto;
	object-fit: cover;
}

/* Vertical Layout. */
.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical{
	overflow: hidden;
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-items{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	position: sticky;
	top: 0;
	overflow: hidden;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wp-block-wpmozo-scroll-stack-cards-item{
	flex: none;
	will-change: transform, height;
	transform: translateZ(0);
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-item-inner{
	display: flex;
	width: 100%;
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-content-wrapper{
	flex: 1;
	margin-right: 20px
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-image-wrapper{
	flex: 0 0 30%;
}

/* Horizontal Layout. */
.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal{
	width: 100%;
	/* height: 100vh; */
	overflow: hidden;
	position: relative;
	position: sticky;
	top: 0;
}
html:not(.block-editor-iframe__html) .wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .wpmozo-bna-scroll-stack-cards-items{
	display: flex;
	position: relative;
	width: max-content;
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .block-editor-block-list__layout{
	display: flex;
	position: relative;
	width: max-content;
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .wp-block-wpmozo-scroll-stack-cards-item{
	/* box-sizing: border-box; */
	/* flex-shrink: 0; */
	/* overflow: hidden; */
	/* transition: width 0.4s ease; */
	/* height: 100vh; */
	/* border: 1px solid #ccc; */

	height: auto;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: visible;
    user-select: none;
    border: 1px solid #ffffff;
}
.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .wpmozo-bna-scroll-stack-cards-item-inner{
	width: 400px;
	min-width: 200px;
	height: 100%;
	box-sizing: border-box;
	white-space: normal;
	overflow-wrap: break-word;
	overflow-x: visible;
}
.wpmozo-bna-button-wrap .wpmozo-bna-button.wpmozo-icon-at-before{
    flex-direction: row-reverse;
}
.wpmozo-bna-button.wpmozo-icon-on-hover .wpmozo-bna-btn-text{
    transition: all .3s ease-in-out;
    transform: translateX(0.8em);
}
.wpmozo-bna-button.wpmozo-icon-on-hover.wpmozo-icon-at-before .wpmozo-bna-btn-text{
    transform: translateX(-0.8em);
}
.wpmozo-bna-button.wpmozo-icon-on-hover .wpmozo-bna-icon{
    opacity: 0;
    transform: translateX(-1.6em);
    transition: all .3s ease-in-out;
}
.wpmozo-bna-button.wpmozo-icon-on-hover.wpmozo-icon-at-before  .wpmozo-bna-icon{
    transform: translateX(1.6em);
}
.wpmozo-bna-button.wpmozo-icon-on-hover:hover .wpmozo-bna-btn-text{
    transform: translateX(0);
}
.wpmozo-bna-button.wpmozo-icon-on-hover:hover .wpmozo-bna-icon{
    opacity: 1;
    transform: translateX(0);
}


@media (max-width: 980px) {
	/* Vertical Layout. */
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical{
		height: auto;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-items{
		position: static;
		height: auto;
		gap: 20px;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wp-block-wpmozo-scroll-stack-cards-item{
		height: auto !important;
		padding: 1rem;
		display: flex;
		flex-direction: column-reverse;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-item-inner{
		flex-direction: column;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-content-wrapper{
		width: 100% !important;
		margin: 0 !important;
		order: 2;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-vertical .wpmozo-bna-scroll-stack-cards-image-wrapper{
		flex: 0 0 100% !important;
		order: 1;
	}

	/* Horizontal Layout. */
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal{
		height: auto;
		overflow: visible;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .wpmozo-bna-scroll-stack-cards-items{
		display: flex;
		flex-direction: column;
		height: auto;
		width: 100% !important;
		position: static;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .wp-block-wpmozo-scroll-stack-cards-item{
		position: relative !important;
		width: 100% !important;
		height: auto;
		border-right: none;
		border-bottom: 1px solid #444;
		font-size: 1rem;
		padding: 1.5rem;
		white-space: normal;
		transform: none !important;
	}
	.wpmozo-bna-scroll-stack-cards-wrapper.layout-horizontal .wpmozo-bna-scroll-stack-cards-content-wrapper{
		position: relative;
		width: 100%;
		height: auto;
		padding: 1rem;
		overflow: visible;
	}
}
