.wpmozo-range-size-basecontrol-inner{
	display: flex;
    column-gap: 10px;
    align-items: center;
}
.wpmozo-range-size-basecontrol-inner .components-range-control{
	width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.wpmozo-range-size-basecontrol-inner .components-range-control .components-base-control__field{
	margin-top: 0px;
    margin-bottom: 0px;
}
.wpmozo-range-size-basecontrol-inner .components-unit-control{
	width: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.wpmozo-range-size-basecontrol-inner .components-button{
	width: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
}