/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wpmozo-bna-flip-box-wrap a{
   pointer-events: none;
}
.wpmozo-bna-flip-box-wrap a.wpmozo-bna-flip-box-button{
   pointer-events: auto;
}
.wpmozo-bna-flip-box-edit-control{
   margin-bottom: 0px !important;
}
