/* before-after-slider style start */
.twentytwenty-vertical .wpmozo-adfgu-before-after-image-wrapper .twentytwenty-before-label:before, 
.twentytwenty-vertical .wpmozo-adfgu-before-after-image-wrapper .twentytwenty-after-label:before{
	width: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0px;
}
.wpmozo-adfgu-before-after-image-wrapper img{
    width: 100%;
    object-fit: cover;
}
/* before-after-slider style end */

/* floating-image-item style start */
.floating-image-item {
    position: absolute !important;
}
.wpmozo-adfgu-floating-image-wrapper{
    position: relative;
}
.floating-image-item {
    display: inline-block;
    line-height: 0;
    top: 0;
    left: 0;
    margin: 0;
    will-change: transform;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
@-webkit-keyframes wpmozo_float_up_down {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes wpmozo_float_up_down {
    from {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    to {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@-webkit-keyframes wpmozo_float_left_right {
    from {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    to {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}
@keyframes wpmozo_float_left_right {
    from {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    to {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}
/* floating-image-item style end */

/* logo-slide style start */
.logo-wrap{ 
    display: flex;
    padding: 10px;
    margin-bottom: 0 !important;
    justify-content: center;
}
/* logo-slide style end */

@keyframes wpmozoTopToBottom {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes wpmozoLeftToRight {
    from { opacity: 0; transform: translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes wpmozoRightToLeft {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes wpmozoBottomToTop {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
}

.wpmozo-animation{
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.wpmozo-animation.wpmozo-animation-top:hover { 
    animation-name: wpmozoTopToBottom; 
}
.wpmozo-animation.wpmozo-animation-left:hover { 
    animation-name: wpmozoLeftToRight; 
}
.wpmozo-animation.wpmozo-animation-right:hover { 
    animation-name: wpmozoRightToLeft; 
}
.wpmozo-animation.wpmozo-animation-bottom:hover { 
    animation-name: wpmozoBottomToTop; 
}