.wpmozo-bna-cta-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.wpmozo-bna-cta-content-wrap{
    flex: 1;
}
.wpmozo-bna-cta-title{
    margin-top: 0;
    margin-bottom: 10px;
}
.wpmozo-bna-cta-button-wrap{
    text-align: right;
}
.wpmozo-bna-button-wrap{
    min-width:min-content;
}
