.wpmozo-video-uploader-wrap {
	border: 1px solid #ddd;
	padding: 10px;
	background: #fafafa;
}

.wpmozo-video-placeholder {
	padding: 40px;
	text-align: center;
	color: #777;
	border: 1px dashed #ccc;
	margin-bottom: 10px;
}
