.wpmozo-color-dropdown-container{
	width: 100%;
}
.wpmozo-color-dropdown-container .components-button{
	width: 100%;
	border: 1px solid rgb(0 0 0 / 57%);
}
.wpmozo-color-dropdown-container .components-button .component-color-indicator{
	margin-right: 8px;
}
.wpmozo-color-combo-wrap .components-button-group{
	display: flex;
	margin-bottom: 10px;
}
.wpmozo-color-combo-wrap button.wpmozo-color-combo-type{
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
	padding-bottom: 6px;
	padding-top: 6px;
	text-align: center;
}
.wpmozo-color-tabs .components-tab-panel__tab-content{
	padding: 15px;
}