.wpmozo-same-as-carousel{
	margin-top: 10px;
}
.wpmozo-button-tabs-wrap .components-button-group{
	display: flex;
	margin-bottom: 10px;
}
.wpmozo-button-tabs-wrap button.wpmozo-button-tabs-btn{
	align-items: center;
	display: flex;
	flex: 1;
	justify-content: center;
	padding-bottom: 6px;
	padding-top: 6px;
	text-align: center;
}
.wpmozo-active-sub-block{
	border-radius: 1px;
	box-shadow: 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
}
.wpmozo-background-img-selction-wrap{
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow: inset 0 0 0 1px #ddd;
	padding: 8px 8px;
}
.wpmozo-background-img-selction-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0 / 69%);
	display: none;
	align-items: center;
	justify-content: center;
	color: #fff;
	left: 0;
	border-radius: 2px;
	font-weight: 600;
	font-size: 16px;
}
.wpmozo-background-img-selction-wrap:hover .wpmozo-background-img-selction-overlay{
	display: flex;
}
.wpmozo-background-img-selction-wrap img{
	width: 100%;
	height: 140px !important;
	object-fit: cover;
	border-radius: 2px;
}
.wpmozo-bna-flip-box-wrap a{
	pointer-events: none;
}
.wpmozo-bna-flip-box-edit-control{
	margin-bottom: 0px !important;
}
.wpmozo-bna-flip-box-wrap.edit-front .wpmozo-bna-flip-box-back{
	visibility: hidden;
}
.wpmozo-bna-flip-box-wrap.edit-front .wpmozo-bna-flip-box-front{
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}
.wpmozo-bna-flip-box-wrap.edit-back .wpmozo-bna-flip-box-front{
	visibility: hidden;
}
.wpmozo-bna-flip-box-wrap.edit-back .wpmozo-bna-flip-box-back{
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}
.is-selected.wpmozo-bna-flip-box-main .wpmozo-bna-flip-box-wrap{
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	transform: none !important;
}
.wpmozo-bna-fancy-text-inner.clipping {
	color: transparent !important;
}