/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill:hover .wpmozo-background-effect-wrap:after,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill:hover .wpmozo-background-effect-wrap:before,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-button-link,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill:hover .wpmozo-background-effect-wrap:after,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill:hover .wpmozo-background-effect-wrap:before {
	background-size: cover;
	background-repeat: no-repeat
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-button-link {
	display: inline-block;
	position: relative;
	background-position: center;
	overflow: hidden;
	padding: 10px;
	transition: background-image .3s linear, background-color .3s linear, border .3s linear
}

.wp-block-wpmozo-advanced-button .wpmozo-button-link {
	border: 0 solid #333
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-background-effect-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-button-secondary-text,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-button-text {
	position: relative;
	z-index: 2
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-button-text {
	font-size: 18px;
	line-height: 1.5
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-button-secondary-text {
	font-size: 14px;
	line-height: 1.5
}

.wp-block-wpmozo-advanced-button .wpmozo-button-icon {
	display: inline-block;
	position: relative
}

.wp-block-wpmozo-advanced-button .wpmozo-button-icon:after,
.wp-block-wpmozo-advanced-button .wpmozo-button-icon:before {
	display: inline-block;
	position: relative;
	z-index: -1;
	font-family: ETModules;
	font-size: inherit;
	line-height: inherit;
	vertical-align: middle
}

@keyframes wpmozoChangeIcon {
	0% {
		opacity: 0;
		visibility: 0;
		content: attr(data-icon)
	}

	100% {
		opacity: 1;
		visibility: visible;
		content: attr(data-icon-hover)
	}
}

.wp-block-wpmozo-advanced-button .wpmozo_button_no_text,
.wp-block-wpmozo-advanced-button .wpmozo_button_no_text .wpmozo-button-text {
	line-height: 0
}

.wp-block-wpmozo-advanced-button .wpmozo_button_no_text .wpmozo-button-icon:after,
.wp-block-wpmozo-advanced-button .wpmozo_button_no_text .wpmozo-button-icon:before {
	line-height: 1;
	padding: 0
}

.wp-block-wpmozo-advanced-button .wpmozo_button_icon_on_hover .wpmozo-button-icon:after,
.wp-block-wpmozo-advanced-button .wpmozo_button_icon_on_hover .wpmozo-button-icon:before {
	visibility: hidden;
	opacity: 0;
	transition: .3s linear
}

.wp-block-wpmozo-advanced-button .wpmozo_button_icon_on_hover .wpmozo-button-secondary-text:after,
.wp-block-wpmozo-advanced-button .wpmozo_button_icon_on_hover .wpmozo-button-secondary-text:before {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	width: 0;
	content: "";
	transition: .3s linear
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_icon_on_hover:hover .wpmozo-button-icon {
	transform: translateX(0) !important
}

.wp-block-wpmozo-advanced-button .wpmozo_button_icon_on_hover:hover .wpmozo-button-icon:after,
.wp-block-wpmozo-advanced-button .wpmozo_button_icon_on_hover:hover .wpmozo-button-icon:before {
	visibility: visible;
	opacity: 1
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_icon_on_hover.wpmozo_button_icon_left:hover .wpmozo-button-icon:before {
	left: 0 !important
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_icon_on_hover.wpmozo_button_icon_right:hover .wpmozo-button-icon:after {
	right: 0 !important
}

.wp-block-wpmozo-advanced-button .wpmozo-button-secondary-text {
	display: block
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-background-effect-wrap:after,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo-background-effect-wrap:before {
	position: absolute;
	z-index: 1;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: .3s linear;
	content: ""
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_wipe_fill .wpmozo-background-effect-wrap:before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translate(-100%, 0) skew(-45deg);
	transform-origin: 0 0
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_wipe_fill:hover .wpmozo-background-effect-wrap:before {
	transform: translate(0, 0)
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_down_fill .wpmozo-background-effect-wrap:before, .wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_up_fill .wpmozo-background-effect-wrap:before,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill .wpmozo-background-effect-wrap:after, .wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill .wpmozo-background-effect-wrap:before {
	left: 0;
	width: 100%;
	height: 100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_up_fill .wpmozo-background-effect-wrap:before,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill .wpmozo-background-effect-wrap:after {
	bottom: -100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_up_fill:hover .wpmozo-background-effect-wrap:before {
	bottom: 0
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_down_fill .wpmozo-background-effect-wrap:before,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill .wpmozo-background-effect-wrap:before {
	top: -100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_down_fill:hover .wpmozo-background-effect-wrap:before {
	top: 0
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_left_fill .wpmozo-background-effect-wrap:before,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_right_fill .wpmozo-background-effect-wrap:before {
	top: 0;
	width: 100%;
	height: 100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill .wpmozo-background-effect-wrap:after,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_left_fill .wpmozo-background-effect-wrap:before {
	right: -100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_left_fill:hover .wpmozo-background-effect-wrap:before {
	right: 0
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill .wpmozo-background-effect-wrap:before,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_right_fill .wpmozo-background-effect-wrap:before {
	left: -100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_slide_right_fill:hover .wpmozo-background-effect-wrap:before {
	left: 0
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill:hover .wpmozo-background-effect-wrap:before {
	top: -50%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_vertical_shutter_fill:hover .wpmozo-background-effect-wrap:after {
	bottom: -50%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill .wpmozo-background-effect-wrap:after,
.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill .wpmozo-background-effect-wrap:before {
	top: 0;
	height: 100%;
	width: 100%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill:hover .wpmozo-background-effect-wrap:before {
	left: -50%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-item .wpmozo_button_horizontal_shutter_fill:hover .wpmozo-background-effect-wrap:after {
	right: -50%
}

.wp-block-wpmozo-advanced-button .wpmozo-button-wrapper .wpmozo-primary-text-with-icon {
	display: inline-flex;
	align-items: center;
	position: relative
}

.wp-block-wpmozo-advanced-button .wpmozo-button-wrapper .wpmozo_ae_button_icon, .wp-block-wpmozo-advanced-button .wpmozo-button-wrapper svg {
	position: relative;
	font-size: 18px;
	width: 18px;
	height: 18px;
	z-index: 5
}

.wp-block-wpmozo-advanced-button .wpmozo-button-wrapper .wpmozo-primary-text-with-icon .wpmozo-button-text,
.wp-block-wpmozo-advanced-button .wpmozo-button-wrapper .wpmozo-button-secondary-text,
.wp-block-wpmozo-advanced-button .wpmozo-button-wrapper .wpmozo-primary-text-with-icon .wpmozo_ae_button_icon {
	transition: all 300ms
}

.wpmozo-button-link {
	text-decoration: none;
}

