html:not(.block-editor-iframe__html) .wpmozo-bna-image-accordion-wrapper{
    display:flex;
    position:relative;
    width:100%;
    height:350px;
}
.wpmozo-bna-image-accordion-wrapper .block-editor-block-list__layout{
    display:flex;
    position:relative;
    width:100%;
    height:350px;
}
.wp-block-wpmozo-image-accordion-item {
    flex: 1 0 auto;
    position: relative;
    margin-bottom: 0 !important;
    transition: all 0.5s ease-in-out;
}
.wpmozo-bna-active-image-accordion-item:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease-in-out;
    content: "";
}
.wp-block-wpmozo-image-accordion-item .wpmozo-bna-image-accordion-item-content-wrapper {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
}
.wpmozo-bna-active-image-accordion-item .wpmozo-bna-image-accordion-item-content-wrapper {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.5s;
}
.wpmozo-bna-image-accordion-content-center .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: center;
    justify-content: center;
}
.wpmozo-bna-image-accordion-content-top_left .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: flex-start;
    justify-content: flex-start;
}
.wpmozo-bna-image-accordion-content-top_right .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: flex-start;
    justify-content: flex-end;
}
.wpmozo-bna-image-accordion-content-top_center .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: flex-start;
    justify-content: center;
}
.wpmozo-bna-image-accordion-content-bottom_left .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: flex-end;
    justify-content: flex-start;
}
.wpmozo-bna-image-accordion-content-bottom_right .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: flex-end;
    justify-content: flex-end;
}
.wpmozo-bna-image-accordion-content-bottom_center .wpmozo-bna-image-accordion-item-content-wrapper {
    align-items: flex-end;
    justify-content: center;
}
.wpmozo-bna-image-accordion-item-title {
    padding-bottom: 0;
}
.wp-block-wpmozo-image-accordion-item .wpmozo-bna-btn {
    display: inline-block;
}
.wp-block-wpmozo-image-accordion-item .wpmozo-bna-btn i {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: all !important;
    transition-property: all !important;
}
.wpmozo-bna-image-accordion-item-desc + .wpmozo-bna-image-accordion-item-btn-wrapper,
.wpmozo-bna-image-accordion-item-icon + .wpmozo-bna-image-accordion-item-desc,
.wpmozo-bna-image-accordion-item-icon + .wpmozo-bna-image-accordion-item-title,
.wpmozo-bna-image-accordion-item-icon + .wpmozo-bna-image-accordion-item-btn-wrapper,
.wpmozo-bna-image-accordion-item-title + .wpmozo-bna-image-accordion-item-desc,
.wpmozo-bna-image-accordion-item-title + .wpmozo-bna-image-accordion-item-btn-wrapper {
    margin-top: 10px;
}
.wpmozo-bna-icon-shape-circle {
    border-radius: 50%;
    padding: 12px;
}
.wpmozo-bna-icon-shape-square {
    padding: 12px;
}
.wpmozo-bna-icon-shape-hexagon {
    position: relative;
    z-index: 99;
    margin-left: -40.25%;
    padding: 12px;
    transform: rotate(-30deg);
}
.wpmozo-bna-icon-hexagon i{
    position: relative;
    z-index: 99;
    margin-left: -40.25%;
    padding: 12px;
    transform: rotate(-30deg);
    display: inline-block;
}
.wpmozo-bna-icon-hexagon-wrapper {
    display: inline-block;
    position: relative;
}
.wpmozo-bna-icon-hexagon-wrapper .wpmozo-bna-icon-hexagon-inner-wrap {
    backface-visibility: hidden;
    transform: rotate(30deg);
}
.wpmozo-bna-icon-hexagon-wrapper .wpmozo-bna-icon-hexagon {
    width: 57.735%;
    height: 100%;
    margin: auto;
}
.wpmozo-bna-icon-hexagon-wrapper .wpmozo-bna-icon-hexagon:before {
    transform: rotate(60deg) translateZ(0);
}
.wpmozo-bna-icon-hexagon-wrapper .wpmozo-bna-icon-hexagon:after,
.wpmozo-bna-icon-hexagon-wrapper .wpmozo-bna-icon-hexagon:before {
    position: absolute;
    top: 0;
    right: 21.1325%;
    background-color: inherit;
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    backface-visibility: hidden;
    content: "";
}
.wpmozo-bna-icon-hexagon-wrapper .wpmozo-bna-icon-hexagon:after {
    transform: rotate(-60deg) translateZ(0);
}
.wp-block-wpmozo-image-accordion-item .wpmozo-bna-btn{
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 10px;
}
.wpmozo-bna-image-accordion-item-icon.hexagon {
    position: relative;
    display: inline-grid;
    place-items: center;
    line-height: 1;
    width: 1.6em;
    height: 1.6em;
}
.wpmozo-bna-image-accordion-item-icon.hexagon::before {
    content: "";
    position: absolute;
    inset: 0;
    clip-path: polygon(50% 0%, 93% 25%, 93% 75%, 50% 100%, 7% 75%, 7% 25%);
    z-index: 0;
}
.wpmozo-bna-image-accordion-item-icon.hexagon .icon-wrapper {
    position: relative;
    z-index: 1;
    font-size: 1em;
}