/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper span {
	display: inline-block
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-inner-wrapper,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper {
	position: relative
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper svg {
	position: absolute;
	left: 50%;
	width: 100%;
	transform: translate( -50%,-50% );
	overflow: visible
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-curly_line svg,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-double_underline svg,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-underline svg,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-zig_zag svg {
	top: 100%
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-diagonal svg {
	top: 50%
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-circle svg {
	top: 45%
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper.wpmozo-highlight-cross svg {
	top: 55%
}

.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper svg path {
	animation-duration: 3s;
	animation-delay: 0s;
	animation-fill-mode: forwards;
	opacity: 0;
	fill: none;
	stroke-dasharray: 1500;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighted-content,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-wrapper svg path,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-post-inner-wrapper,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-pre-inner-wrapper {
	transition: all 300ms;
}
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-stack .wpmozo-bna-text-highlighter-post-inner-wrapper,
.wp-block-wpmozo-text-highlighter .wpmozo-bna-text-highlighter-stack .wpmozo-bna-text-highlighter-pre-inner-wrapper {
	display: block
}

@keyframes wpmozo-dash-animation {
	0% {
		stroke-dasharray: 0 1500;
		opacity: 1
	}

	100% {
		stroke-dasharray: 1500 1500;
		opacity: 1;
	}
}

.wp-block-wpmozo-text-highlighter .wpmozo_text_highlighter .wpmozo-bna-text-highlighter-title {
	margin: 0
}

