.wpmozo-bna-scroll-image * {
    box-sizing: border-box;
}
.wpmozo-bna-scroll-image-wrapper {
    width: 100%;
    overflow: hidden;
}
.wpmozo-bna-scroll-image-inner-wrap {
    width: 100%;
    height: 100%;
    line-height: 0;
}
.wpmozo-bna-scroll-image-inner-wrap img {
    max-width: 100%;
    height: auto;
}
.wpmozo-bna-scroll-image-inner-wrap[data-direction="left"] img,
.wpmozo-bna-scroll-image-inner-wrap[data-direction="right"] img {
    max-width: none;
}