.wpmozo-adfgu-flip-box-main {
    position: relative;
    perspective: 1000px;
}
.wpmozo-adfgu-flip-box-main * {
    box-sizing: border-box;
}
.wpmozo-adfgu-flip-box-wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wpmozo-adfgu-flip-box-side {
    min-height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 30px;
}
.wpmozo-adfgu-flip-box-description {
    word-break: break-word;
}
.wpmozo-adfgu-flip-box-wrap.layout1 .wpmozo-adfgu-flip-box-back, 
.wpmozo-adfgu-flip-box-wrap.layout2 .wpmozo-adfgu-flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
}
.wpmozo-adfgu-hexagon-wrap {
    position: relative;
    display: inline-block;
    border: none;
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.wpmozo-adfgu-hexagon-wrap:before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.wpmozo-adfgu-hexagon-shape i {
    position: relative;
    z-index: 99;
    padding: 20px;
}
.wpmozo-adfgu-flip-box-wrap.layout1 .wpmozo-adfgu-flip-box-inner {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wpmozo-adfgu-flip-box-side .wpmozo-adfgu-flip-box-inner {
    width: 100%;
    display: flex;
}
.wpmozo-adfgu-flip-box-wrap.layout1 {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wpmozo-adfgu-flip-box-main .layout1 {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.wpmozo-adfgu-flip-box-main .layout1 .wpmozo-adfgu-flip-box-back,
.wpmozo-adfgu-flip-box-main .layout1 .wpmozo-adfgu-flip-box-front {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.wpmozo-adfgu-flip-box-main .layout1 .wpmozo-adfgu-flip-box-inner {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.wpmozo-adfgu-flip-box-main .layout1[flip-direction="top"] .wpmozo-adfgu-flip-box-front,
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="top"]:hover .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    transform: rotateX(0);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="top"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="top"]:hover .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="bottom"] .wpmozo-adfgu-flip-box-front,
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="bottom"]:hover .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    transform: rotateX(0);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="bottom"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="bottom"]:hover .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="left"] .wpmozo-adfgu-flip-box-front,
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="left"]:hover .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="left"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="left"]:hover .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="right"] .wpmozo-adfgu-flip-box-front,
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="right"]:hover .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    transform: rotateY(0);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="right"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="right"]:hover .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="diagonal-left"] .wpmozo-adfgu-flip-box-back {
    transform: rotate3d(1, 1, 0, 180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-left"] .wpmozo-adfgu-flip-box-front {
    transform: rotate3d(1, 1, 0, -180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-left"] .wpmozo-adfgu-flip-box-back {
    transform: none;
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="diagonal-right"] .wpmozo-adfgu-flip-box-back {
    transform: rotate3d(1, 1, 0, -180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-right"] .wpmozo-adfgu-flip-box-front {
    transform: rotate3d(1, 1, 0, 180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-right"] .wpmozo-adfgu-flip-box-back {
    transform: none;
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="diagonal-left-inverted"] .wpmozo-adfgu-flip-box-back {
    transform: rotate3d(1, -1, 0, -180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-left-inverted"] .wpmozo-adfgu-flip-box-front {
    transform: rotate3d(1, -1, 0, 180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-left-inverted"] .wpmozo-adfgu-flip-box-back {
    transform: none;
}
.wpmozo-adfgu-flip-box-main .layout1[flip-direction="diagonal-right-inverted"] .wpmozo-adfgu-flip-box-back {
    transform: rotate3d(-1, 1, 0, -180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-right-inverted"] .wpmozo-adfgu-flip-box-front {
    transform: rotate3d(-1, 1, 0, 180deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout1[flip-direction="diagonal-right-inverted"] .wpmozo-adfgu-flip-box-back {
    transform: none;
}

.wpmozo-adfgu-flip-box-main .layout2 .wpmozo-adfgu-flip-box-back,
.wpmozo-adfgu-flip-box-main .layout2 .wpmozo-adfgu-flip-box-front {
    display: flex;
    justify-content: center;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="top"] {
    -webkit-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
    -moz-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
    -ms-transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
    transform: rotateX(90deg) translateY(-50%) rotateX(-90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="top"] .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    -moz-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    -ms-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="top"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: translateY(50%) rotateX(-90deg);
    -moz-transform: translateY(50%) rotateX(-90deg);
    -ms-transform: translateY(50%) rotateX(-90deg);
    transform: translateY(50%) rotateX(-90deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout2[flip-direction="top"] {
    -webkit-transform: rotateX(90deg) translateY(-50%);
    -moz-transform: rotateX(90deg) translateY(-50%);
    -ms-transform: rotateX(90deg) translateY(-50%);
    transform: rotateX(90deg) translateY(-50%);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="bottom"] {
    -webkit-transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
    -moz-transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
    -ms-transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
    transform: rotateX(-90deg) translateY(50%) rotateX(90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="bottom"] .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    -moz-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    -ms-transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
    transform: rotateX(90deg) translateY(50%) rotateX(-90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="bottom"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: translateY(-50%) rotateX(90deg);
    -moz-transform: translateY(-50%) rotateX(90deg);
    -ms-transform: translateY(-50%) rotateX(90deg);
    transform: translateY(-50%) rotateX(90deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout2[flip-direction="bottom"] {
    -webkit-transform: rotateX(-90deg) translateY(50%);
    -moz-transform: rotateX(-90deg) translateY(50%);
    -ms-transform: rotateX(-90deg) translateY(50%);
    transform: rotateX(-90deg) translateY(50%);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="left"] {
    -webkit-transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
    -moz-transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
    -ms-transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
    transform: rotateY(-90deg) translateX(-50%) rotateY(90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="left"] .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
    -moz-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
    -ms-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
    transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="left"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: translateX(50%) rotateY(90deg);
    -moz-transform: translateX(50%) rotateY(90deg);
    -ms-transform: translateX(50%) rotateY(90deg);
    transform: translateX(50%) rotateY(90deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout2[flip-direction="left"] {
    -webkit-transform: rotateY(-90deg) translateX(-50%);
    -moz-transform: rotateY(-90deg) translateX(-50%);
    -ms-transform: rotateY(-90deg) translateX(-50%);
    transform: rotateY(-90deg) translateX(-50%);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="right"] {
    -webkit-transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
    -moz-transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
    -ms-transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
    transform: rotateY(90deg) translateX(50%) rotateY(-90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="right"] .wpmozo-adfgu-flip-box-front {
    -webkit-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
    -moz-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
    -ms-transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
    transform: rotateY(90deg) translateX(-50%) rotateY(-90deg);
}
.wpmozo-adfgu-flip-box-main .layout2[flip-direction="right"] .wpmozo-adfgu-flip-box-back {
    -webkit-transform: translateX(-50%) rotateY(90deg);
    -moz-transform: translateX(-50%) rotateY(-90deg);
    -ms-transform: translateX(-50%) rotateY(-90deg);
    transform: translateX(-50%) rotateY(-90deg);
}
.wpmozo-adfgu-flip-box-main:hover .layout2[flip-direction="right"] {
    -webkit-transform: rotateY(90deg) translateX(50%);
    -moz-transform: rotateY(90deg) translateX(50%);
    -ms-transform: rotateY(90deg) translateX(50%);
    transform: rotateY(90deg) translateX(50%);
}

.wpmozo-adfgu-flip-box-button-wrap{
    margin-top: 10px;
}
.wpmozo-adfgu-flip-box-button-wrap-inner {
    display: inline-block;
    white-space: nowrap;
    transition-duration: .3s;
    transition-property: transform;
}
.wpmozo-adfgu-flip-box-button {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: 10px;
}
.wpmozo-adfgu-flip-box-button.show-on-hover i {
    display: none;
}
.wpmozo-adfgu-flip-box-button.show-on-hover:hover i {
    display: block;
}