.wpmozo-adfgu-separator .hexagon {
    width: 100%;
    aspect-ratio: 20/11;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
}
.wpmozo-adfgu-separator .hexagon::before,
.wpmozo-adfgu-separator .hexagon::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container {
    display: flex;
    align-items: center;
    width: 100%;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-line {
    border-color: #ccc;
    border-top-width: 3px;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-shadow {
    height: 3px;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-icon-wrapper i {
    font-size: 32px;
    z-index: 1;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container .wpmozo-adfgu-text-wrapper {
    max-width: 80%;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-center .wpmozo-adfgu-line-after,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-center .wpmozo-adfgu-line-before,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-justify .wpmozo-adfgu-line-after,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-justify .wpmozo-adfgu-line-before,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-left .wpmozo-adfgu-line-after,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-none .wpmozo-adfgu-line-before,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-right .wpmozo-adfgu-line-before {
    flex-grow: 1;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-center .wpmozo-adfgu-line-after,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-justify .wpmozo-adfgu-line-after,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-left .wpmozo-adfgu-line-after {
    margin-left: 10px;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-center .wpmozo-adfgu-line-before,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-justify .wpmozo-adfgu-line-before,
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-container.align-right .wpmozo-adfgu-line-before {
    margin-right: 10px;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-separator-image {
    width: 42px;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-icon-circle {
    padding: 16px;
    border-radius: 50%;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-icon-square,
.wpmozo-adfgu-separator .wpmozo-adfgu-icon-wrapper.shape-hexagon {
    padding: 16px;
    box-sizing: content-box;
}

.wpmozo-adfgu-separator .wpmozo-adfgu-icon-wrapper.shape-hexagon {
    padding: 16px 0px;
    box-sizing: content-box;
}
.wpmozo-adfgu-separator .wpmozo-adfgu-icon-shape-border {
    border: 2px solid;
}