.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-header-graphic-inner,
.wp-block-wpmozo-pricing-table .wpmozo-bna-bar {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
}
.wp-block-wpmozo-pricing-table .wpmozo-bna-bar-container,
.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-subtitle {
    display: block;
}
.wp-block-wpmozo-pricing-table .wpmozo-bna-bar-container {
    line-height: 0;
}
.wp-block-wpmozo-pricing-table hr {
    border: 0;
}
.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-pricing .wpmozo-bna-period-slash {
    margin-right: -5px;
    margin-left: -5px;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-image {
    width: 100%;
}

.wpmozo-bna-pricing-table-button-wrapper{
    text-align: center;
    transition: color 300ms, border 300ms, background 300ms, text-shadow 300ms, border-radius 300ms, transform 300ms, font 300ms, size 300ms, letter-spacing 300ms, word-spacing 300ms, margin 300ms;
    animation-duration: 300ms;
    transition-timing-function: linear;
}

.wpmozo-bna-pricing-table-button-wrapper .wpmozo-bna-button{
    display: inline-flex;
    flex-flow: row-reverse;
    gap: 5px;
    font-size: 18px;
    border: 2px solid;
    border-radius: 0;
    padding: 3px;
    margin: 10px;
    position: relative;
    color: #6EC1E4;
    transition: color 300ms, border 300ms, background 300ms, text-shadow 300ms, border-radius 300ms, transform 300ms, font 300ms, size 300ms, letter-spacing 300ms, word-spacing 300ms, margin 300ms;
    animation-duration: 300ms;
    transition-timing-function: linear;
}

.wpmozo-bna-pricing-table-button-wrapper .wpmozo-bna-button img,
.wpmozo-bna-pricing-table-button-wrapper .wpmozo-bna-button-icon {
    position: relative;
    width: 18px;
    height: 18px;
    color: #6EC1E4;
    fill: #6EC1E4;
    transition: color 300ms, fill 300ms, text-shadow 300ms, transform 300ms, height 300ms, width 300ms, opacity 300ms;
    animation-duration: 300ms;
    transition-timing-function: linear;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-wrapper{
    text-align: center;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-title,
.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-subtitle {
    color: #000;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-bar {
    background-color: #000;
    height: 2px;
    width: 50px;
}
.wpmozo-bna-pricing-table-header-graphic .wpmozo-bna-pricing-table-header-graphic-inner{
    justify-content: center;
}
.wpmozo-bna-pricing-table-header-graphic .wpmozo-bna-header-image {
    width: 25%;
}
.wp-block-wpmozo-pricing-table .wpmozo-bna-header-image{
    animation-duration: 300ms;
    transition: 300ms;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-currency-symbol,
.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-price {
    color: #222;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-price {
    font-size: 26px;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-period,
.wp-block-wpmozo-pricing-table .wpmozo-bna-period-slash {
    font-size: 26px;
    color: #8F8F8F;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-pricing {
    margin: 10px;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-features-list,
.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-features-list .wpmozo-bna-pricing-table-feature-icon {
    font-size: 18px;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-features-list img,
.wp-block-wpmozo-pricing-table .wpmozo-bna-pricing-table-feature-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-divider {
    background-color: #dedede;
    height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-button.icon-before .wpmozo-bna-button-image,
.wp-block-wpmozo-pricing-table .wpmozo-bna-button.icon-before .wpmozo-bna-button-icon{
    order: 1;
}

.wp-block-wpmozo-pricing-table .wpmozo-bna-button.icon-after .wpmozo-bna-button-image,
.wp-block-wpmozo-pricing-table .wpmozo-bna-button.icon-after .wpmozo-bna-button-icon{
    order: -1;
}
.wp-block-wpmozo-pricing-table .show-on-hover .wpmozo-bna-button-image,
.wp-block-wpmozo-pricing-table .show-on-hover .wpmozo-bna-button-icon{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Show the icon when hovering over the button */
.wp-block-wpmozo-pricing-table .show-on-hover:hover .wpmozo-bna-button-image,
.wp-block-wpmozo-pricing-table .show-on-hover:hover .wpmozo-bna-button-icon{
    visibility: visible;
    opacity: 1;
}
