/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wpmozo-image-stack-tooltip-content {
	display: none;
	max-width: 300px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px
}

.wpmozo-bna-image-stack .wpmozo-image-stack-tooltip-content {
	display: none
}

.wpmozo-bna-image-stack .wpmozo-image-stack-wrap {
	overflow: hidden;
	lign-items: center;
	display: flex;
	justify-content: center;
}

.wpmozo-bna-image-stack .wpmozo-image-stack-wrap .wpmozo-image-stack-inner {
	display: flex;
	align-items: center;
	justify-content: center
}

.wpmozo-bna-image-stack .wpmozo-image-stack .wpmozo-image-stack-inner .wpmozo-image-stack-item {
	margin-bottom: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

.wpmozo-bna-image-stack .wpmozo-image-stack-wrap .wpmozo-image-stack-inner .wpmozo-image-stack-item {
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

.wpmozo-bna-image-stack .wpmozo-image-stack .wpmozo-image-stack-wrap:hover .wpmozo-image-stack-item {
	margin-left: 0 !important
}

.wpmozo-bna-image-stack .wpmozo-image-stack-item img,
.wpmozo-bna-image-stack .wpmozo-image-stack-item i {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.wpmozo-bna-image-stack .wpmozo-image-stack-wrap .wpmozo-image-stack-item .wpmozo-stack-item-wrapper.stack-item-type-icon,
.wpmozo-bna-image-stack .wpmozo-image-stack-wrap .wpmozo-image-stack-item .wpmozo-stack-item-wrapper.stack_item-type-text {
	display: inline-flex;
	align-items: center;
	justify-content: center
}

.wpmozo-image-stack-inner:hover .wpmozo-image-stack-item:not(:first-child) {
	margin-left: 0px!important;
}

.tippy-box{
	display: none;
}

.tippy-box:before {
	position: absolute;
}
.tippy-box[data-placement="top"]:before,
.tippy-box[data-placement="bottom"]:before{
	left: 0;
	width: 100%;
	height: 15px;
	background: inherit;
}
.tippy-box[data-placement="top"]:before{
	bottom: -14px;
	clip-path: polygon(
			0 0,
			100% 0,
			100% calc(100% - 15px),
			calc(50% + 15px) calc(100% - 15px),
			50% 100%,
			calc(50% - 15px) calc(100% - 15px),
			0 calc(100% - 15px)
	);
}
.tippy-box[data-placement="bottom"]:before{
	top: -14px;
	clip-path: polygon(
			100% 15px,
			calc(50% + 15px) 15px,
			50% 0,
			calc(50% - 15px) 15px,
			0 15px,
			0 100%,
			100% 100%
	);
}
.tippy-box[data-placement="left"]:before,
.tippy-box[data-placement="right"]:before{
	top: 0;
	width: 15px;
	height: 100%;
	background: inherit;
	box-sizing: border-box;
}
.tippy-box[data-placement="left"]:before{
	right: -14px;
	clip-path: polygon(
			0 0,
			calc(100% - 15px) 0,
			calc(100% - 15px) calc(50% - 15px),
			100% 50%,
			calc(100% - 15px) calc(50% + 15px),
			calc(100% - 15px) 100%,
			0 100%
	);
}
.tippy-box[data-placement="right"]:before{
	left: -14px;
	clip-path: polygon(
			100% 0,
			15px 0,
			15px calc(50% - 15px),
			0 50%,
			15px calc(50% + 15px),
			15px 100%,
			100% 100%
	);
}
.tippy-box .tippy-content{
	padding: 10px 15px;
}



