.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-percent{
    display: block;
    position: relative;
    padding: 0 10px;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    align-content: space-evenly;
    transition:all 300ms;
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    background: #ddd;
    border: 0 solid #333
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-bar{
    position: absolute;
    left: 0;
    top: 0;
    background: pink;
    width: 100%;
    height: 100%
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter .layout1 .wpmozo-bna-bar-counter-filled-bar-wrapper {
    position: relative;
    overflow: hidden;
    width: 0;
    text-align: right;
    transition: 1s;
    flex-grow: 1
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-animated-striped-bar:before,.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-striped-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( -45deg,rgb( 255 255 255 / .15 ) 25%,transparent 25%,transparent 50%,rgb( 255 255 255 / .15 ) 50%,rgb( 255 255 255 / .15 ) 75%,transparent 75%,transparent );
    background-size: 35px 35px
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-animated-striped-bar:before {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite
}

@keyframes wpmozo-animated-stripe {
    0% { background-position: 0 0 }
    100% { background-position: 35px 0 }
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter .layout2 .wpmozo-bna-bar-counter-filled-bar-wrapper {
    display: flex;
    width: 50%;
    align-items: center
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter.empty-bar-enabled .layout2 .wpmozo-bna-bar-counter-filled-bar-wrapper {
    width: 100%!important
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-chunks {
    position: relative;
    flex-grow: 1;
    background: #ddd;
    margin-right: 5px;
    height: 30px;
    overflow: hidden
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: pink;
    content: ""
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:before {
    animation-name: wpmozo-animate-filled;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 0.2s
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(2):before{
    animation-delay: 0.1s
}
.wp-block-wpmozo-bar-counter.wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(3):before{
    animation-delay: 0.2s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(4):before{
    animation-delay: 0.3s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(5):before{
    animation-delay: 0.4s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(6):before{
    animation-delay: 0.5s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(7):before{
    animation-delay: 0.6s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(8):before{
    animation-delay: 0.7s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(9):before{
    animation-delay: 0.8s
}
.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-filled-chunks.wpmozo-animate-filled:nth-child(10):before{
    animation-delay: 0.9s
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter-chunks:last-of-type {
    margin-right: 0
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter .layout2 .wpmozo-bna-bar-counter-percent {
    padding: 0 0 0 10px
}

@keyframes wpmozo-animate-filled {
    0% { width: 0 }
    100% { width: 100% }
}

.wp-block-wpmozo-bar-counter .wpmozo-bna-bar-counter .layout1 .wpmozo-bna-bar-counter-bar-wrapper {
    overflow: hidden
}
.wpmozo-bna-bar-counter-title {
    margin: 6px 0;
    transition:all 300ms;
}












/*@property --gradient-start {
  syntax: '<color>';
  initial-value: #ff7e5f;
  inherits: false;
}

@property --gradient-end {
  syntax: '<color>';
  initial-value: #feb47b;
  inherits: false;
}

.wpmozo-bna-bar-counter-filled-bar-wrapper:hover .wpmozo-bna-bar-counter-filled-bar {
  --gradient-start: #2b5876;
  --gradient-end: #4e4376;
}
.wpmozo-bna-bar-counter-filled-bar-wrapper .wpmozo-bna-bar-counter-filled-bar{
    transition: --gradient-start .5s ease, --gradient-end .5s ease;
    background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end))!important;
}*/
