.wpmozo-alignment-compo{
	justify-content: space-between;
}
.wpmozo-alignment-compo > div{
	flex: unset !important;
}
.components-base-control:has( .wpmozo-alignment-compo.separator-after){
	border-bottom: 1px solid #dddddd;
	padding-bottom: 10px;
    margin-bottom: 10px;
}
.components-base-control:has( .wpmozo-alignment-compo.separator-before){
	border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}