#wpmozo_testimonial_metabox h2,
#wpmozo_team_member_metabox h2 {
    position: relative;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 10px 70px 10px 40px;
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    background-color: #6c2eb9;
    color: #fff;
}

#wpmozo_testimonial_metabox h2:before,
#wpmozo_team_member_metabox h2:before {
    display: inline-block;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "E";
    font-size: 20px;
    vertical-align: baseline;
    margin-right: 15px;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 5px;
}

#wpmozo_testimonial_metabox .handle-actions,
#wpmozo_team_member_metabox .handle-actions {
    background-color: #6c37ba;
}

#wpmozo_testimonial_metabox .handle-actions button:hover,
#wpmozo_team_member_metabox .handle-actions button:hover {
    background: #552592;
}

#wpmozo_testimonial_metabox .handle-actions button:focus,
#wpmozo_team_member_metabox .handle-actions button:focus {
    box-shadow: none;
    outline: none;
}

#wpmozo_testimonial_metabox .handle-actions button,
#wpmozo_team_member_metabox .handle-actions button {
    color: #fff;
}

#wpmozo_testimonial_metabox .handlediv,
#wpmozo_team_member_metabox .handlediv {
    z-index: 9;
    position: relative;
    color: #fff;
    background: #622aa9;
    padding: 15px 17px;
    font-size: 20px;
    margin: 0;
    width: auto;
    height: auto;
}

.js #wpmozo_testimonial_metabox .handlediv:focus .toggle-indicator:before,
.js #wpmozo_team_member_metabox .handlediv:focus .toggle-indicator:before {
    box-shadow: none;
}

#wpmozo_testimonial_metabox .handlediv:hover,
#wpmozo_team_member_metabox .handlediv:hover {
    background: #552592;
}

#wpmozo_testimonial_metabox .handlediv .toggle-indicator,
#wpmozo_team_member_metabox .handlediv .toggle-indicator {
    color: #fff;
}

#wpmozo_testimonial_metabox .inside,
#wpmozo_team_member_metabox .inside {
    margin: 0 27px 15px;
}

.wpmozo_meta_fields {
    margin: 20px 0;
    overflow: hidden;
}

.wpmozo_meta_fields label {
    font-size: 16px;
    font-weight: 600;
    display: block;
    float: left;
    width: 200px;
    margin-top: 4px;
    margin-right: 30px;
    padding-top: 8px;
}

.wpmozo_meta_fields input,
.wpmozo_meta_fields select,
.wpmozo_meta_fields textarea {
    width: 50%;
    height: 40px;
    margin: 0;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    background: #f1f5f9;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #32373c;
}

.wpmozo_meta_fields input:focus,
.wpmozo_meta_fields select:focus,
.wpmozo_meta_fields textarea:focus {
    outline: none;
    box-shadow: none;
}

.wpmozo_repeator_meta_fields {
    width: 50%;
    float: left;
}

.wpmozo_repeator_meta_field input,
.wpmozo_repeator_meta_field select,
.wpmozo_repeator_meta_field textarea {
    width: 100%;
}

.wpmozo_repeator_meta_field input:not(:last-child),
.wpmozo_repeator_meta_field select:not(:last-child),
.wpmozo_repeator_meta_field textarea:not(:last-child) {
    margin-bottom: 10px;
}

.wpmozo_repeator_meta_field_row {
    position: relative;
    background: #fcfcfc;
    padding: 10px;
}

.wpmozo_repeator_meta_field_row:not(:last-child) {
    border-bottom: 2px solid #f1f5f9;
}

.wpmozo_repeator_meta_field_row_controls {
    position: absolute;
    top: 50%;
    left: calc(100% + 10px);
    margin: 0;
    text-align: center;
    transform: translateY(-50%);
}

.wpmozo_repeator_meta_field_add_row_control {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #f1f5f9;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6;
    cursor: pointer;
}

.wpmozo_repeator_meta_field_add_row_control:not(:last-child) {
    margin-bottom: 10px;
}

.wpmozo_meta_fields textarea {
    min-height: 80px;
}

.wpmozo_meta_fields .ed_button {
    width: auto;
    height: auto;
}

.wpmozo_meta_fields .info {
    display: block;
    margin-left: 230px;
    font-size: 12px;
}

#side-sortables #wpmozo_testimonial_metabox h2,
#side-sortables #wpmozo_team_member_metabox h2 {
    padding: 10px;
    font-size: 18px;
    line-height: 1.2;
}

#side-sortables #wpmozo_testimonial_metabox h2:before,
#side-sortables #wpmozo_team_member_metabox h2:before {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    font-size: 16px;
}

#side-sortables #wpmozo_testimonial_metabox .handle-actions,
#side-sortables #wpmozo_team_member_metabox .handle-actions {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background-color: #622aa9;
}

#side-sortables #wpmozo_testimonial_metabox .postbox-header,
#side-sortables #wpmozo_team_member_metabox .postbox-header {
    display: block;
}

#side-sortables #wpmozo_testimonial_metabox .handlediv,
#side-sortables #wpmozo_team_member_metabox .handlediv {
    padding: 0 10px;
    font-size: 20px;
}

#side-sortables #wpmozo_testimonial_metabox .inside,
#side-sortables #wpmozo_team_member_metabox .inside {
    margin: 0 15px 15px;
}

#side-sortables .wpmozo_meta_fields label {
    width: 100%;
    margin-right: 0;
}

#side-sortables .wpmozo_meta_fields input,
#side-sortables .wpmozo_meta_fields select,
#side-sortables .wpmozo_meta_fields textarea {
    width: 100%;
}

#side-sortables .wpmozo_repeator_meta_fields {
    width: calc(100% - 40px);
}






















































.wpmozo_panel_wrapper,
.wpmozo_panel_wrapper * {
    box-sizing: border-box;
}
.wp-admin #wpcontent {
    padding-left: 10px;
}
.wpmozo_panel_wrapper {
    background: #fff;
    border-radius: 6px;
    width: calc(100% - 70px);
    float: left;
    margin: 30px 40px 0 30px;
    color: #545454;
}
.wpmozo_panel_wrapper a {
    text-decoration: none;
}
.wpmozo_panel_wrapper a,
.wpmozo_panel_wrapper a:focus,
.wpmozo_panel_wrapper input,
.wpmozo_panel_wrapper input:focus,
.wpmozo_panel_wrapper input[type="checkbox"],
.wpmozo_panel_wrapper input[type="checkbox"]:focus,
.wpmozo_panel_wrapper input[type="radio"],
.wpmozo_panel_wrapper input[type="radio"]:focus {
    box-shadow: none;
    margin: 0;
    outline: 0;
}
.wpmozo_panel_wrapper input::placeholder {
    color: #bdbdbd;
}
.wpmozo_panel_wrapper input:focus,
.wpmozo_panel_wrapper input[type="checkbox"]:focus,
.wpmozo_panel_wrapper input[type="radio"]:focus,
.wpmozo_panel_wrapper select:focus,
.wpmozo_panel_wrapper textarea:focus {
    border-color: #3dda85;
}
.wpmozo_panel_wrapper select:focus{
    box-shadow: none;
    outline: 0;
}
.wpmozo_panel_wrapper input,
.wpmozo_panel_wrapper input[type="checkbox"],
.wpmozo_panel_wrapper input[type="radio"],
.wpmozo_panel_wrapper select,
.wpmozo_panel_wrapper textarea {
    background: #fafafa;
    color: #545454;
}
.wpmozo_panel_wrapper input[readonly],
.wpmozo_panel_wrapper select[readonly],
.wpmozo_panel_wrapper textarea[readonly] {
    opacity: 0.6;
}
.wpmozo_panel_wrapper input[type="text"],
.wpmozo_panel_wrapper select,
.wpmozo_panel_wrapper textarea {
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
}
#wpbody .wpmozo_panel_wrapper select {
    background: 0 0;
    width: 100%;
    height: auto;
    padding-right: 36px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wpmozo_panel_wrapper .wpmozo_panel_button {
    display: inline-block;
    background: #65db87;
    border-radius: 30px;
    border: none;
    min-width: 120px;
    padding: 12px 20px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.wpmozo_panel_wrapper ol,
.wpmozo_panel_wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wpmozo_panel_wrapper li {
    margin: 0;
    padding: 0;
}
.wpmozo_panel_wrapper h1,
.wpmozo_panel_wrapper h2,
.wpmozo_panel_wrapper h3,
.wpmozo_panel_wrapper h4,
.wpmozo_panel_wrapper h5,
.wpmozo_panel_wrapper h6 {
    margin: 0;
    padding: 0;
    color: #545454;
}