.wpmozo_panel_save_options,
.wpmozo_panel_wrapper .wpmozo_panel_button {
    min-width: 120px;
    padding: 12px 20px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
}
.wpmozo_panel_wrapper,
.wpmozo_panel_wrapper * {
    box-sizing: border-box;
}
.wp-admin #wpcontent {
    padding-left: 10px;
}
.wpmozo_panel_wrapper {
    background: #fff;
    border-radius: 6px;
    width: calc(100% - 70px);
    float: left;
    margin: 30px 40px 0 30px;
    color: #545454;
}
.wpmozo_panel_wrapper a {
    text-decoration: none;
}
.wpmozo_panel_wrapper a,
.wpmozo_panel_wrapper a:focus,
.wpmozo_panel_wrapper input,
.wpmozo_panel_wrapper input:focus,
.wpmozo_panel_wrapper input[type="checkbox"],
.wpmozo_panel_wrapper input[type="checkbox"]:focus,
.wpmozo_panel_wrapper input[type="radio"],
.wpmozo_panel_wrapper input[type="radio"]:focus {
    box-shadow: none;
    margin: 0;
    outline: 0;
}
.wpmozo_panel_wrapper input::placeholder {
    color: #bdbdbd;
}
.wpmozo_panel_wrapper input:focus,
.wpmozo_panel_wrapper input[type="checkbox"]:focus,
.wpmozo_panel_wrapper input[type="radio"]:focus,
.wpmozo_panel_wrapper select:focus,
.wpmozo_panel_wrapper textarea:focus {
    border-color: #3dda85;
}
.wpmozo_panel_wrapper select:focus {
    box-shadow: none;
    outline: 0;
}
.wpmozo_panel_wrapper input,
.wpmozo_panel_wrapper input[type="checkbox"],
.wpmozo_panel_wrapper input[type="radio"],
.wpmozo_panel_wrapper select,
.wpmozo_panel_wrapper textarea {
    background: #fafafa;
    color: #545454;
}
.wpmozo_panel_wrapper input[readonly],
.wpmozo_panel_wrapper select[readonly],
.wpmozo_panel_wrapper textarea[readonly] {
    opacity: 0.6;
}
.wpmozo_panel_wrapper input,
.wpmozo_panel_wrapper select,
.wpmozo_panel_wrapper textarea {
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 1.5;
}
#wpbody .wpmozo_panel_wrapper select {
    background: 0 0;
    width: 100%;
    height: auto;
    padding-right: 36px;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wpmozo_panel_wrapper .wpmozo_panel_button {
    display: inline-block;
    background: #65db87;
    border-radius: 30px;
    border: none;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.wpmozo_panel_wrapper ol,
.wpmozo_panel_wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wpmozo_panel_wrapper li {
    margin: 0;
    padding: 0;
}
.wpmozo_panel_wrapper h1,
.wpmozo_panel_wrapper h2,
.wpmozo_panel_wrapper h3,
.wpmozo_panel_wrapper h4,
.wpmozo_panel_wrapper h5,
.wpmozo_panel_wrapper h6 {
    margin: 0;
    padding: 0;
    color: #545454;
}
.wpmozo_panel_ajax_processor {
    display: none;
    position: fixed;
    top: 32px;
    left: 160px;
    background: rgb(255 255 255 / 80%);
    width: calc(100% - 160px);
    height: 100%;
    z-index: 999999;
}
.wpmozo_panel_ajax_processor.error {
    background: rgba(255, 255, 255, 0.4);
    border-left-color: transparent;
}
.wpmozo_panel_ajax_processor .wpmozo_panel_processor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    text-align: center;
}
.wpmozo_panel_processor:after,
.wpmozo_panel_processor:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.wpmozo_panel_ajax_processor.wpmozo_panel_loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(50% - 35px);
    border-radius: 4px;
    background-color: #65db87;
    width: 12px;
    height: 12px;
    transform: translate(-50%, -50%);
    animation: 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite loadingT;
    transition: background-color 0.3s;
}
.wpmozo_panel_loader .wpmozo_panel_processor {
    width: 12px;
    height: 12px;
}
.wpmozo_panel_loader .wpmozo_panel_processor:after,
.wpmozo_panel_loader .wpmozo_panel_processor:before {
    top: 0;
    border-radius: 4px;
    background-color: #65db87;
    width: 12px;
    height: 12px;
    animation: 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite loadingG;
    transition: background-color 0.3s;
}
.wpmozo_panel_loader .wpmozo_panel_processor:before {
    left: -52px;
}
.wpmozo_panel_loader .wpmozo_panel_processor:after {
    left: -18px;
}
.wpmozo_panel_ajax_processor.wpmozo_panel_loader.error .wpmozo_panel_processor:after,
.wpmozo_panel_ajax_processor.wpmozo_panel_loader.error .wpmozo_panel_processor:before,
.wpmozo_panel_ajax_processor.wpmozo_panel_loader.error:after {
    background-color: #d63638;
}
@keyframes loadingG {
    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
}
@keyframes loadingT {
    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0);
    }
    50% {
        transform: translate(calc(-50% + 70px), -50%) rotate(360deg);
    }
}
.wpmozo_panel_save_button {
    margin-top: 15px;
}
.wpmozo_panel_save_options {
    display: inline-block;
    background: #65db87;
    border-radius: 30px;
    border: none;
    color: #fff;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    float: right;
}
.wpmozo_panel_save_options.error {
    background: #d63638;
}
.wpmozo_panel_save_options:active,
.wpmozo_panel_save_options:focus,
.wpmozo_panel_save_options:hover {
    color: #fff;
}
.wpmozo_panel_save_icon {
    position: absolute;
    top: 50%;
    left: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    height: 30px;
    width: 24px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.wpmozo_panel_save_icon:before {
    content: "";
    position: absolute;
    top: calc(50% - 15px);
    left: 17px;
    border-width: 0 7px 7px 0;
    border-style: solid;
    border-color: #bdbdbd #65db87;
}
.error .wpmozo_panel_save_icon:before {
    border-color: #bdbdbd #d63638;
}
.wpmozo_panel_field:not(.wpmozo_panel_licensefield):not(:nth-last-child(2)),
.wpmozo_panel_searchbox,
h2.wpmozo-section-heading {
    border-bottom: 1px solid #f3f3f3;
}
.wpmozo_panel_save_icon span {
    position: absolute;
    left: 4px;
    top: 10px;
    background: #bdbdbd;
    width: 16px;
    height: 3px;
}
.wpmozo_panel_save_icon span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: inherit;
}
.wpmozo_panel_save_icon span:nth-child(2) {
    top: 16px;
}
.wpmozo_panel_save_icon span:nth-child(3) {
    top: 22px;
}
.wpmozo_panel_ajax_processor.success-animation {
    animation: 1s bounceIn;
}
.wpmozo_panel_ajax_processor.success-animation:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999;
    text-align: center;
    background: 0 0;
    margin-left: -3px;
    font-family: dashicons;
    font-size: 56px;
    font-weight: 400;
    font-variant: normal;
    line-height: 1.3;
    speak: none;
    text-transform: none;
    color: #65db87;
    -webkit-font-smoothing: antialiased;
    content: "\f147";
}
.wpmozo_panel_ajax_processor.success-animation:after {
    width: 0;
}
.success .wpmozo_panel_save_icon span:before {
    -webkit-animation: 0.5s 0.1s forwards fillBarSuccess;
    -moz-animation: 0.5s 0.1s forwards fillBarSuccess;
    animation: 0.5s 0.1s forwards fillBarSuccess;
}
.success .wpmozo_panel_save_icon span:nth-child(2):before {
    -webkit-animation: 0.5s 0.4s forwards fillBarSuccess;
    -moz-animation: 0.5s 0.4s forwards fillBarSuccess;
    animation: 0.5s 0.4s forwards fillBarSuccess;
}
.success .wpmozo_panel_save_icon span:nth-child(3):before {
    -webkit-animation: 0.5s 0.7s forwards fillBarSuccess;
    -moz-animation: 0.5s 0.7s forwards fillBarSuccess;
    animation: 0.5s 0.7s forwards fillBarSuccess;
}
.error .wpmozo_panel_save_icon span:before {
    -webkit-animation: 0.5s 0.1s forwards fillBarError;
    -moz-animation: 0.5s 0.1s forwards fillBarError;
    animation: 0.5s 0.1s forwards fillBarError;
}
.error .wpmozo_panel_save_icon span:nth-child(2):before {
    -webkit-animation: 0.5s 0.4s forwards fillBarError;
    -moz-animation: 0.5s 0.4s forwards fillBarError;
    animation: 0.5s 0.4s forwards fillBarError;
}
.error .wpmozo_panel_save_icon span:nth-child(3):before {
    -webkit-animation: 0.5s 0.7s forwards fillBarError;
    -moz-animation: 0.5s 0.7s forwards fillBarError;
    animation: 0.5s 0.7s forwards fillBarError;
}
.wpmozo_panel_save_icon:after {
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: calc(100% - 12px);
    font-family: dashicons;
    font-size: 22px;
    color: #65db87;
    content: "";
}
.success .wpmozo_panel_save_icon:after {
    -webkit-animation: 0.5s 1s forwards fadeInSuccess;
    -moz-animation: 0.5s 1s forwards fadeInSuccess;
    animation: 0.5s 1s forwards fadeInSuccess;
}
.error .wpmozo_panel_save_icon:after {
    font-size: 24px;
    color: #d63638;
    -webkit-animation: 0.5s 1.2s forwards fadeInError;
    -moz-animation: 0.5s 1.2s forwards fadeInError;
    animation: 0.5s 1.2s forwards fadeInError;
}
@-webkit-keyframes fillBarSuccess {
    0% {
        width: 0;
        background: #bdbdbd;
    }
    100% {
        width: 100%;
        background: #65db87;
    }
}
@keyframes fillBarSuccess {
    0% {
        width: 0;
        background: #bdbdbd;
    }
    100% {
        width: 100%;
        background: #65db87;
    }
}
@-webkit-keyframes fillBarError {
    0% {
        width: 0;
        background: #bdbdbd;
    }
    100% {
        width: 100%;
        background: #d63638;
    }
}
@keyframes fillBarError {
    0% {
        width: 0;
        background: #bdbdbd;
    }
    100% {
        width: 100%;
        background: #d63638;
    }
}
@-webkit-keyframes fadeInSuccess {
    0% {
        background: 0 0;
        opacity: 0;
        content: "";
    }
    100% {
        background: #fff;
        opacity: 1;
        content: "\f147";
    }
}
@keyframes fadeInSuccess {
    0% {
        background: 0 0;
        opacity: 0;
        content: "";
    }
    100% {
        background: #fff;
        opacity: 1;
        content: "\f147";
    }
}
@-webkit-keyframes fadeInError {
    0% {
        background: 0 0;
        opacity: 0;
        content: "";
    }
    100% {
        background: #fff;
        opacity: 1;
        content: "\f335";
    }
}
@keyframes fadeInError {
    0% {
        background: 0 0;
        opacity: 0;
        content: "";
    }
    100% {
        background: #fff;
        opacity: 1;
        content: "\f335";
    }
}
.wpmozo_panel_wrapper .wp-picker-container .wp-color-result.button {
    border-radius: 30px;
    width: 130px;
    height: 30px;
    margin-bottom: 0;
    padding: 0 0 0 35px;
    overflow: hidden;
    cursor: pointer;
}
.wpmozo_panel_wrapper .wp-color-result-text {
    background: #fafafa;
    border-radius: 0 30px 30px 0;
    height: 100%;
    padding: 0 6px;
    font-size: 12px;
    line-height: 2.3;
}
.wpmozo_panel_wrapper .color-alpha {
    border-radius: 30px 0 0 30px !important;
    width: 35px !important;
    height: 30px !important;
}
.wpmozo_panel_wrapper .wp-picker-open + .wp-picker-input-wrap {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    height: 35px;
    z-index: 9;
}
.wpmozo_panel_wrapper .wp-picker-container input[type="text"].wp-color-picker {
    border-radius: 3px;
    width: 65px;
    height: 30px;
    min-height: auto;
    padding: 4px 8px;
    font-size: 12px;
}
.wpmozo_panel_wrapper .wp-picker-container .wp-picker-clear {
    height: 30px;
    margin-bottom: 0;
    padding: 1px 8px;
    line-height: 22px;
    font-size: 11px;
}
.wpmozo_panel_wrapper .wp-picker-container .wp-picker-clear,
.wpmozo_panel_wrapper .wp-picker-container .wp-picker-clear:focus {
    margin-left: 6px;
}
.wpmozo_panel_wrapper .wp-picker-holder {
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
}
.wpmozo_panel_select {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 400px;
}
.wpmozo_panel_select:before {
    background: #fafafa;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
}
.wpmozo_panel_select:after {
    position: absolute;
    top: 50%;
    right: 12px;
    height: 0;
    font-family: dashicons;
    font-size: 20px;
    line-height: 0;
    content: "\f140";
    pointer-events: none;
}
.wpmozo_panel_header {
    display: table;
    width: 100%;
    padding: 20px 30px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}
.wpmozo_panel_logo,
.wpmozo_panel_menu,
.wpmozo_panel_title {
    display: table-cell;
    vertical-align: middle;
}
.wpmozo_panel_logo {
    width: 40px;
    padding-right: 10px;
    line-height: 0;
}
.wpmozo_panel_logo img {
    max-width: 100%;
}
.wpmozo_panel_title {
    width: 35%;
    font-size: 18px;
    font-weight: 500;
}
.wpmozo_panel_menu {
    text-align: right;
}
.wpmozo_panel_menu li {
    display: inline-block;
    margin-left: 20px;
    font-size: 16px;
    color: #bdbdbd;
    cursor: pointer;
}
.wpmozo_panel_menu li.wpmozo_panel_active_menu_item {
    color: #545454;
    cursor: default;
}
.wpmozo_panel_section_wrapper {
    position: relative;
    width: 100%;
    float: left;
    padding: 50px 30px;
}
.wpmozo_panel_section {
    display: none;
    position: relative;
    width: 100%;
    float: left;
    z-index: 1;
}
.wpmozo_panel_section.wpmozo_panel_active_section {
    display: block;
}
.wpmozo_panel_field {
    width: 100%;
    float: left;
    padding: 20px 0;
}
.wpmozo_panel_field:first-child {
    padding-top: 0;
}
.wpmozo_panel_field .wpmozo_panel_label_control {
    width: 100%;
    float: left;
}
.wpmozo_panel_field .wpmozo_panel_field_control {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 5px;
}
.wpmozo_panel_settings_info {
    display: block;
    font-size: 14px;
    font-style: italic;
    color: #c1c1c1;
}
.wpmozo_panel_label_control label {
    font-size: 16px;
    font-weight: 500;
}
.wpmozo_panel_license_response {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
}
.wpmozo_panel_license_response.success {
    color: #047f27;
}
.wpmozo_panel_license_response.error {
    color: #7d0000;
}
.wpmozo_panel_field input, 
.wpmozo_panel_field select, 
.wpmozo_panel_field textarea {
    width: 100%;
    max-width: 400px;
}
.wpmozo_panel_field .wpmozo_panel_textfield[type="number"] {
    max-width: 80px;
    border-radius: 30px;
    padding: 8px 16px;
    line-height: 1.5;
}
.wpmozo_panel_field .wpmozo_panel_toggle {
    position: relative;
    width: 50px;
    height: 22px;
    opacity: 0;
    z-index: 1;
}
.wpmozo_panel_field .wpmozo_panel_toggle_slider {
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    background-color: #ddd;
    border-radius: 30px;
    width: 50px;
    height: 10px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
}
.wpmozo_panel_field .wpmozo_panel_toggle_slider:before {
    position: absolute;
    left: 0;
    top: calc(50% - 12px);
    background-color: #fff;
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    height: 22px;
    width: 22px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    content: "";
}
.wpmozo_panel_field .wpmozo_panel_toggle:checked + .wpmozo_panel_toggle_slider {
    background-color: #3dda85;
}
.wpmozo_panel_field .wpmozo_panel_toggle:checked + .wpmozo_panel_toggle_slider:before {
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}
input[type="checkbox"].wpmozo_panel_toggle:disabled:checked {
    opacity: 0;
}
.wpmozo_panel_toggle:disabled:checked + .wpmozo_panel_toggle_slider {
    opacity: 0.5;
}
.wpmozo_panel_toggle .wpmozo_panel_fieldset {
    display: table;
    width: 100%;
}
.wpmozo_panel_fieldset .wpmozo_panel_field {
    position: relative;
    border-bottom: none !important;
    margin-bottom: 15px;
    padding: 0;
}
#wpmozo_reset_style .wpmozo_panel_field,
.wpmozo_panel_fieldset .wpmozo_panel_field:last-child {
    margin-bottom: 0;
}
.wpmozo-radio-img img,
.wpmozo_panel_fieldset .wpmozo_panel_label_control {
    width: 100%;
}
.wpmozo_panel_fieldset .wpmozo_panel_field_control {
    width: 100%;
    padding: 5px 0;
}
.wpmozo_panel_fieldset label {
    font-size: 14px;
}
.wpmozo_panel_fields_cols_block .wpmozo_panel_field {
    width: auto;
    margin-right: 15px;
}
.wpmozo_panel_fields_cols_block .wpmozo_panel_field:last-child {
    margin-right: 0;
    margin-bottom: 15px;
}
.wpmozo_panel_wrapper .wpmozo_panel_licensefield .wpmozo_panel_textfield {
    display: block;
    margin-bottom: 25px;
    padding: 12px 20px;
}
.wpmozo_panel_licensefield .wpmozo_panel_textfield:focus {
    margin-bottom: 25px;
}
.wpmozo_panel_licensefield .wpmozo_panel_button {
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    padding: 15px 30px;
    font-size: 16px;
    letter-spacing: 1px;
}
.wpmozo_panel_filter:not(:first-child),
.wpmozo_panel_licensefield .wpmozo_panel_button:last-of-type {
    margin-left: 20px;
}
.wpmozo_panel_licensefield .wpmozo_panel_button_deactivate {
    background: #545454;
}
.wpmozo_panel_licensefield .wpmozo_panel_button_activate:not(.disabled):hover,
.wpmozo_panel_licensefield .wpmozo_panel_button_deactivate:not(.disabled):hover {
    -webkit-box-shadow: 0 8px 20px rgba(84, 84, 84, 0.4);
    -moz-box-shadow: 0 8px 20px rgba(84, 84, 84, 0.4);
    -ms-box-shadow: 0 8px 20px rgba(84, 84, 84, 0.4);
    box-shadow: 0 8px 20px rgba(84, 84, 84, 0.4);
}
.wpmozo_panel_licensefield .wpmozo_panel_button.disabled {
    opacity: 0.2;
    cursor: not-allowed;
}
.wpmozo_panel_filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.wpmozo_panel_filter label,
.wpmozo_panel_filter span {
    font-size: 14px;
    color: #bdbdbd;
}
.wpmozo_panel_filter label {
    margin-right: 2px;
}
.wpmozo_panel_filter span {
    margin-left: 2px;
    vertical-align: middle;
}
#wpbody .wpmozo_panel_filter select {
    border: none;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(117, 117, 117, 0.2);
    min-width: 1px;
    padding: 3px 28px 3px 12px;
    font-weight: 500;
}
.wpmozo_panel_filter .wpmozo_panel_select:after {
    right: 8px;
}
.wpmozo_panel_searchbox {
    position: relative;
    margin-top: 10px;
}
.wpmozo_panel_searchbox:before {
    position: absolute;
    top: 10px;
    left: 0;
    font-family: dashicons;
    font-size: 24px;
    color: #74797e;
    opacity: 0.3;
    content: "\f179";
}
.wpmozo_panel_wrapper .wpmozo_panel_searchbox input {
    border: none;
    border-radius: 0;
    background: 0 0;
    width: 100%;
    padding: 8px 16px 8px 30px;
    font-size: 16px;
}
.wpmozo_panel_button .dashicons {
    transition: unset;
}
.wpmozo_panel_button.wpmozo-btn-icon-with-text .dashicons {
    position: absolute;
    left: 14px;
    top: 9px;
    font-size: 18px;
    transition: unset;
}
.wpmozo_panel_button.wpmozo-btn-icon-with-text {
    position: relative;
    padding-left: 36px;
}
.wpmozo_panel_field_control input:disabled,
.wpmozo_panel_field_control select:disabled,
.wpmozo_panel_field_control textarea:disabled {
    opacity: 0.7;
}
.wpmozo-radio-img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}
.wpmozo-radio-img-wrap > .wpmozo-radio-img {
    cursor: pointer;
    border: 1px solid #8c8f94;
}
.wpmozo-radio-img-wrap > input:checked + .wpmozo-radio-img {
    border: 2px solid #65db87;
}
.wpmozo_panel_field_checkbox .wpmozo_panel_field_control,
.wpmozo_panel_field_radio .wpmozo_panel_field_control {
    display: flex;
    flex-direction: column;
}
.wpmozo_panel_field_checkbox .wpmozo_panel_field_control label,
.wpmozo_panel_field_radio .wpmozo_panel_field_control label {
    margin-bottom: 6px;
}
.wpmozo_panel_field_checkbox .wpmozo_panel_field_control label span,
.wpmozo_panel_field_radio .wpmozo_panel_field_control label span {
    margin-left: 5px;
}
.wpmozo_panel_field input.wpmozo_panel_textfield[data-input-size="1"] {
    max-width: 75px;
}
h2.wpmozo-section-heading {
    padding-bottom: 10px;
}
.wpmozo_panel_field_size .wpmozo_panel_field_control {
    display: flex;
}
#wpbody .wpmozo_panel_field_size select.wpmozo_panel_dropdown {
    width: 80px;
    position: absolute;
    left: 79px;
}
.wpmozo_panel_field_size .wpmozo_panel_textfield[type="number"] {
    max-width: 160px;
    border-radius: 30px;
    line-height: 1.5;
    padding: 8px 90px 8px 16px;
    border-right: 0px;
}
#wpmozo_reset_style .wpmozo_panel_fieldset {
    display: flex;
    float: right;
    text-align: right;
}
#wpmozo_reset_style {
    border-bottom: 0;
    padding-bottom: 0;
}
#wpmozo_reset_style #reset_style_btn {
    margin-right: 10px;
}
.wpmozo-repeater-fields-actions .wpmozo_panel_button {
    min-width: 75px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.wpmozo_repeator_meta_field_row {
    display: flex;
    align-items: center;
}
.wpmozo_repeator_meta_field_row .wpmozo_repeator_meta_field {
    width: 43%;
}
.wpmozo-repeater-fields-actions .wpmozo-add-row {
    margin-left: 5px;
}
@media screen and (min-width: 481px) {
    .wpmozo_panel_fields_cols_2 .wpmozo_panel_field,
    .wpmozo_panel_fields_cols_3 .wpmozo_panel_field {
        width: 47.5%;
        float: left;
        margin-right: 5%;
    }
    .wpmozo_panel_fields_cols_2 .wpmozo_panel_field:nth-of-type(2n + 2),
    .wpmozo_panel_fields_cols_3 .wpmozo_panel_field:nth-of-type(2n + 2) {
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) {
    .wpmozo_panel_wrapper .wp-picker-container .wp-color-result.button {
        width: 120px;
    }
    .wpmozo_panel_field .wpmozo_panel_label_control {
        width: 25%;
    }
    .wpmozo_panel_field .wpmozo_panel_label_control + .wpmozo_panel_field_control {
        width: 75%;
        padding: 0 0 5px 30px;
    }
    .wpmozo_panel_license_response,
    .wpmozo_panel_settings_info {
        width: calc(75% - 30px);
        float: left;
        margin-left: calc(25% + 30px);
    }
    .wpmozo_panel_fieldset .wpmozo_panel_label_control {
        width: 100%;
    }
    .wpmozo_panel_fieldset .wpmozo_panel_field_control,
    .wpmozo_panel_fieldset .wpmozo_panel_label_control + .wpmozo_panel_field_control {
        width: 100%;
        padding: 5px 0;
    }
    .wpmozo_panel_field .wpmozo_panel_toggle_slider {
        left: 30px;
    }
    .wpmozo_panel_fieldset .wpmozo_panel_settings_info {
        margin-left: 0;
    }
}
@media screen and (min-width: 1200px) {
    .wpmozo_panel_fields_cols_3 .wpmozo_panel_field {
        width: 30%;
    }
    .wpmozo_panel_fields_cols_3 .wpmozo_panel_field:nth-of-type(2n + 2) {
        margin-right: 5%;
    }
    .wpmozo_panel_fields_cols_3 .wpmozo_panel_field:nth-of-type(3n + 3) {
        margin-right: 0;
    }
    .wpmozo_panel_clearfix:after {
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
        content: "";
    }
}
@media screen and (max-width: 1023px) {
    .wpmozo_panel_header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .wpmozo_panel_title {
        width: calc(100% - 40px);
    }
    .wpmozo_panel_wrapper .wpmozo_panel_menu {
        width: 100%;
        margin-top: 20px;
        text-align: left;
    }
    .wpmozo_panel_menu li {
        margin-left: 0;
        margin-right: 20px;
    }
}
@media screen and (max-width: 767px) {
    .wpmozo_panel_wrapper input[type="text"],
    .wpmozo_panel_wrapper select,
    .wpmozo_panel_wrapper textarea {
        padding: 6px 16px;
    }
    .wpmozo_panel_field .wpmozo_panel_label_control {
        margin-bottom: 10px;
    }
    .wpmozo_panel_fieldset .wpmozo_panel_settings_info {
        margin-left: 0;
    }
    .wpmozo_panel_fieldset .wpmozo_panel_label_control {
        margin-bottom: 0;
    }
    .wpmozo_panel_fieldset label {
        font-size: 14px;
    }
}
